<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tom.bluetoothcar">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="智慧機車電子鎖"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BluetoothCar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName="com.tom.bluetoothcar.BluetoothCar"
            android:name=".DeviceList"
            android:label="設備連接" />
        <activity
            android:parentActivityName="com.tom.bluetoothcar.BluetoothCar"
            android:name=".LoginUI"
            android:label=""/>
        <activity
            android:parentActivityName="com.tom.bluetoothcar.LoginUI"
            android:name=".AdministratorUI"
            android:label="車主使用介面" />
        <activity
            android:parentActivityName="com.tom.bluetoothcar.LoginUI"
            android:name=".GuestUI"
            android:label="借車人使用介面"/>
        <activity
            android:parentActivityName="com.tom.bluetoothcar.AdministratorUI"
            android:name=".ChangePassword"
            android:label="更改密碼"/>
    </application>

</manifest>